[default]
debug = true
[ml2]
mechanism_drivers = openvswitch,l2population

[securitygroup]
# TODO(DTadrzak): FIX ME
firewall_driver = noop

[agent]
tunnel_types = vxlan
# TODO(DTadrzak): FIX ME
l2_population = false
arp_responder = true

[ovs]
bridge_mappings = physnet1:{{ neutron_bridge_name }}
local_ip = {{ get_ip_address }}

[vxlan]
# TODO(DTadrzak): FIX ME
l2_population = false
local_ip = {{ get_ip_address }}