#!/usr/bin/env bash
sleep 20
set -e
modprobe openvswitch
ovs-vsctl --no-wait show
bash /tmp/ovs-ensure-configured.sh {{ neutron_bridge_name }} {{ interface_name }}
exec /usr/sbin/ovs-vswitchd unix:/run/openvswitch/db.sock --mlockall
