name: neutron-server
depencdency:
command: neutron-server --config-file /etc/neutron/neutron.conf --config-file /etc/neutron/plugins/ml2/ml2_conf.ini
configuration_files:
- name: neutron-server.conf
  path: /etc


container:
  image: "{{ neutron_server_image }}:{{ neutron_server_tag }}"
  parameters:
    - key: volume
      value: "kolla_logs_{{ deployment_id }}_{{ timestamp }}:/var/log/kolla"
service:
  daemon:
    dependencies:
     - path: neutron-server/db_sync
     - path: neutron_ansible_tasks/create_user
     - path: rabbitmq/daemon

    files:
      neutron.conf.j2:
        source: ["config/neutron/templates/neutron-server.conf.j2",
                 {% if neutron_plugin_agent == 'linuxbridge' %}
                 "config/neutron/templates/neutron.linuxbridge.conf.j2"
                 {% elif neutron_plugin_agent == 'openvswitch' %}
                 "config/neutron/templates/neutron.openvswitch.conf.j2"
                 {% endif %}]
        dest: /etc/neutron/neutron.conf
        owner: neutron
        perm: "0600"
      ml2_conf.ini.j2:
        source: ["config/neutron/templates/ml2_conf.ini.j2",
                 {% if neutron_plugin_agent == 'linuxbridge' %}
                 "config/neutron/templates/ml2_conf.linuxbridge.ini.j2"
                 {% elif neutron_plugin_agent == 'openvswitch' %}
                 "config/neutron/templates/ml2_conf.openvswitch.ini.j2"
                 {% endif %}]
        dest: /etc/neutron/plugins/ml2/ml2_conf.ini
        owner: neutron
        perm: "0600"


