#!/bin/bash

mkdir -p /var/lib/rabbitmq
sudo chown -R rabbitmq: /var/lib/rabbitmq
echo "{{ rabbitmq_cookie}}" > /var/lib/rabbitmq/.erlang.cookie
chmod 400 /var/lib/rabbitmq/.erlang.cookie
sudo chown -R rabbitmq: /var/lib/rabbitmq

mkdir -p /var/log/kolla/rabbitmq

chmod 755 /var/log/kolla/rabbitmq

rabbitmq-server