apiVersion: extensions/v1beta1
kind: DaemonSet
spec:
  template:
    metadata:
      labels:
        app: neutron-l3-agent
    spec:
      nodeSelector:
        {{ deployment.control_node_label }}: enabled
      securityContext:
        runAsUser: 0
      dnsPolicy: ClusterFirst
      hostNetwork: true
      containers:
        - name: neutron-l3-agent
          image: {{ deployment.image.l3 }}
          imagePullPolicy: Always
          securityContext:
            privileged: true
          env:
            - name: INTERFACE_NAME
              value: {{ network.minion_interface_name }}
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: COMMAND
              value: "neutron-l3-agent --config-file /etc/neutron/neutron.conf --config-file /etc/neutron/l3-agent.ini --config-file /etc/neutron/plugins/ml2/ml2-conf.ini"
            - name: DEPENDENCY_JOBS
              value: "nova-init,neutron-init,nova-post"
            - name: DEPENDENCY_SERVICE
              value: "neutron-server,rabbitmq,nova-api"
          volumeMounts:
            - name: neutronconf
              mountPath: /etc/neutron/neutron.conf
              subPath: neutron.conf
            - name: ml2confini
              mountPath: /etc/neutron/plugins/ml2/ml2-conf.ini
              subPath: ml2-conf.ini
            - name: l3agentini
              mountPath: /etc/neutron/l3-agent.ini
              subPath: l3-agent.ini
            - mountPath: /etc/resolv.conf
              name: resolvconf
              subPath: resolv.conf
            - name: runopenvswitch
              mountPath: /run/openvswitch
            - name: socket
              mountPath: /var/lib/neutron/stackanetes
            {% if deployment.engine == "rkt" -%}
            - name: procsys
              mountPath: /proc/sys
            {%- endif %}
      volumes:
        - name: neutronconf
          configMap:
            name: neutron-neutronconf
        - name: ml2confini
          configMap:
            name: neutron-ml2confini
        - name: resolvconf
          configMap:
            name: neutron-resolvconf
        - name: l3agentini
          configMap:
            name: neutron-l3agentini
        - name: runopenvswitch
          hostPath:
            path: /run/openvswitch
        - name: socket
          hostPath:
            path: /var/lib/neutron/stackanetes
        # TODO(Quentin-M): Remove me
        # https://github.com/coreos/rkt/issues/3245
        # https://github.com/coreos/rkt/issues/2694
        {% if deployment.engine == "rkt" -%}
        - name: procsys
          hostPath:
            path: /proc/sys
        {%- endif %}
