
---
apiVersion: extensions/v1beta1
kind: DaemonSet
metadata:
  name: compute-node
spec:
  template:
    metadata:
      labels:
        app: compute-node
      name: compute-node
    spec:
      hostPID: true
      nodeSelector:
        app: compute
      securityContext:
        runAsUser: 0
      hostNetwork: true
      dnsPolicy: ClusterFirst
      volumes:
        - name: lib-modules
          hostPath:
            path: /lib/modules
        - name: var-lib-nova
          hostPath:
            path: /var/lib/nova
        - name: var-lib-libvirt
          hostPath:
            path: /var/lib/libvirt
        - name: run
          hostPath:
            path: /run
        - name: resolv
          hostPath:
            path: /home/core/resolv.conf
        - name: cgroup
          hostPath:
            path: /sys/fs/cgroup
      containers:
        - name: nova-compute
          securityContext:
            privileged: true
          image: {{ docker_registry }}/centos-binary-nova-compute:{{ image_version }}
          env:
            - name: KOLLA_SKIP_EXTEND_START
              value: ""
            - name: KOLLA_CONFIG_STRATEGY
              value: COPY_ONCE
            - name: KOLLA_CONFIG
              value: '{"command": "kolla_mesos_start","config_files":[{"source": "zk://zookeeper:2181/kolla/common/kolla_mesos_start.py","dest": "/usr/local/bin/kolla_mesos_start","owner": "root","perm": "0755"}]}'
            - name: KOLLA_LOGLEVEL
              value: info
            - name: KOLLA_ZK_HOSTS
              value: zookeeper:2181
            - name: KOLLA_PRIVATE_INTERFACE
              value: {{ host_interface }}
            - name: KOLLA_PUBLIC_INTERFACE
              value: {{ host_interface }}
            - name: ZK_APP_ID
              value: /root/openstack/nova/nova-compute
          resources:
            limits:
              cpu: 20
              memory: 50024Mi
          volumeMounts:
            - mountPath: /etc/resolv.conf
              name: resolv
              readOnly: true
            - mountPath: /lib/modules
              name: lib-modules
              readOnly: true
            - mountPath: /var/lib/nova
              name: var-lib-nova
            - mountPath: /var/lib/libvirt
              name: var-lib-libvirt
            - mountPath: /run
              name: run
            - mountPath: /sys/fs/cgroup
              name: cgroup
              readOnly: false
        - name: nova-libvirt
          securityContext:
            privileged: true
          image: {{ docker_registry }}/centos-binary-nova-libvirt:{{ image_version }}
          env:
            - name: KOLLA_SKIP_EXTEND_START
              value: ""
            - name: KOLLA_CONFIG_STRATEGY
              value: COPY_ONCE
            - name: KOLLA_CONFIG
              value: '{"command": "kolla_mesos_start","config_files":[{"source": "zk://zookeeper:2181/kolla/common/kolla_mesos_start.py","dest": "/usr/local/bin/kolla_mesos_start","owner": "root","perm": "0755"}]}'
            - name: KOLLA_LOGLEVEL
              value: info
            - name: KOLLA_ZK_HOSTS
              value: zookeeper:2181
            - name: KOLLA_PRIVATE_INTERFACE
              value: {{ host_interface }}
            - name: KOLLA_PUBLIC_INTERFACE
              value: {{ host_interface }}
            - name: ZK_APP_ID
              value: /root/openstack/nova/nova-libvirt
          resources:
            limits:
              memory: 1024Mi
          volumeMounts:
            - mountPath: /etc/resolv.conf
              name: resolv
              readOnly: true
            - mountPath: /lib/modules
              name: lib-modules
              readOnly: true
            - mountPath: /var/lib/nova
              name: var-lib-nova
            - mountPath: /var/lib/libvirt
              name: var-lib-libvirt
            - mountPath: /run
              name: run
            - mountPath: /sys/fs/cgroup
              name: cgroup
              readOnly: false
        - name: neutron-openvswitch-agent
          command:
            - bash
            - "-c"
            - >-
              ovs-vsctl add-br br-ex

              sudo -E -u neutron kolla_start
          securityContext:
            privileged: true
          image: {{ docker_registry }}/centos-binary-neutron-openvswitch-agent:{{ image_version }}
          env:
            - name: KOLLA_SKIP_EXTEND_START
              value: ""
            - name: KOLLA_CONFIG_STRATEGY
              value: COPY_ONCE
            - name: KOLLA_CONFIG
              value: '{"command": "kolla_mesos_start","config_files":[{"source": "zk://zookeeper:2181/kolla/common/kolla_mesos_start.py","dest": "/usr/local/bin/kolla_mesos_start","owner": "root","perm": "0755"}]}'
            - name: KOLLA_LOGLEVEL
              value: info
            - name: KOLLA_ZK_HOSTS
              value: zookeeper:2181
            - name: KOLLA_PRIVATE_INTERFACE
              value: {{ host_interface }}
            - name: KOLLA_PUBLIC_INTERFACE
              value: {{ host_interface }}
            - name: ZK_APP_ID
              value: /root/openstack/neutron/neutron-openvswitch-agent
          resources:
            limits:
              memory: 4000Mi
          volumeMounts:
            - mountPath: /etc/resolv.conf
              name: resolv
              readOnly: true
            - mountPath: /lib/modules
              name: lib-modules
              readOnly: true
            - mountPath: /run
              name: run
        - name: openvswitch-db-server
          securityContext:
            privileged: true
          image: {{ docker_registry }}/centos-binary-openvswitch-db-server:{{ image_version }}
          env:
            - name: KOLLA_SKIP_EXTEND_START
              value: ""
            - name: KOLLA_CONFIG_STRATEGY
              value: COPY_ONCE
            - name: KOLLA_CONFIG
              value: '{"command": "kolla_mesos_start","config_files":[{"source": "zk://zookeeper:2181/kolla/common/kolla_mesos_start.py","dest": "/usr/local/bin/kolla_mesos_start","owner": "root","perm": "0755"}]}'
            - name: KOLLA_LOGLEVEL
              value: info
            - name: KOLLA_ZK_HOSTS
              value: zookeeper:2181
            - name: KOLLA_PRIVATE_INTERFACE
              value: {{ host_interface }}
            - name: KOLLA_PUBLIC_INTERFACE
              value: {{ host_interface }}
            - name: ZK_APP_ID
              value: /root/infra/openvswitch/openvswitch-db
          resources:
            limits:
              memory: 4000Mi
          volumeMounts:
            - mountPath: /etc/resolv.conf
              name: resolv
              readOnly: true
            - mountPath: /run
              name: run
        - name: openvswitch-vswitchd
          securityContext:
            privileged: true
          image: {{ docker_registry }}/centos-binary-openvswitch-vswitchd:{{ image_version }}
          env:
            - name: KOLLA_SKIP_EXTEND_START
              value: ""
            - name: KOLLA_CONFIG_STRATEGY
              value: COPY_ONCE
            - name: KOLLA_CONFIG
              value: '{"command": "kolla_mesos_start","config_files":[{"source": "zk://zookeeper:2181/kolla/common/kolla_mesos_start.py","dest": "/usr/local/bin/kolla_mesos_start","owner": "root","perm": "0755"}]}'
            - name: KOLLA_LOGLEVEL
              value: info
            - name: KOLLA_ZK_HOSTS
              value: zookeeper:2181
            - name: KOLLA_PRIVATE_INTERFACE
              value: {{ host_interface }}
            - name: KOLLA_PUBLIC_INTERFACE
              value: {{ host_interface }}
            - name: ZK_APP_ID
              value: /root/infra/openvswitch/openvswitch-vswitchd
          resources:
            limits:
              memory: 4000Mi
          volumeMounts:
            - mountPath: /etc/resolv.conf
              name: resolv
              readOnly: true
            - mountPath: /lib/modules
              name: lib-modules
              readOnly: true
            - mountPath: /run
              name: run
