apiVersion: v1
kind: ConfigMap
data:
  start.sh: |+
    #!/bin/bash
    set -ex

    # Loading Apache2 ENV variables
    source /etc/apache2/envvars
    rm -rf /var/run/apache2/*
    APACHE_DIR="apache2"

    # Compress Horizon's assets.
    /var/lib/kolla/venv/bin/manage.py collectstatic --noinput
    /var/lib/kolla/venv/bin/manage.py compress
    rm -rf /tmp/_tmp_.secret_key_store.lock /tmp/.secret_key_store

    apache2 -DFOREGROUND
