apiVersion: extensions/v1beta1
kind: Deployment
spec:
  replicas: {{ deployment.replicas }}
  template:
    metadata:
      labels:
        app: cinder-volume
    spec:
      nodeSelector:
        {{ deployment.control_node_label}}: enabled
      containers:
        - name: cinder-volume
          image: {{ deployment.image.volume }}
          imagePullPolicy: Always
          env:
            - name: INTERFACE_NAME
              value: "eth0"
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: COMMAND
              value: "cinder-volume"
            - name: DEPENDENCY_JOBS
              value: "cinder-init,cinder-db-sync,mariadb-init"
            - name: DEPENDENCY_SERVICE
              value: "mariadb,rabbitmq,keystone-api"
            - name: DEPENDENCY_CONFIG
              value: "/etc/cinder/cinder.conf,/etc/ceph/ceph.conf,/etc/ceph/ceph.client.{{ ceph.cinder_user }}.keyring"
          volumeMounts:
            - name: cinderconf
              mountPath: /configmaps/cinder.conf
            - name: cephconf
              mountPath: /configmaps/ceph.conf
            - name: cephclientcinderkeyring
              mountPath: /configmaps/ceph.client.{{ ceph.cinder_user }}.keyring
      volumes:
        - name: cinderconf
          configMap:
            name: cinder-cinderconf
        - name: cephconf
          configMap:
            name: cinder-cephconf
        - name: cephclientcinderkeyring
          configMap:
            name: cinder-cephclientcinderkeyring
