apiVersion: v1
kind: ConfigMap
data:
  rabbitmq.config: |+
    [
      {rabbit, [
         {dummy_param_without_comma, true}
        ,{tcp_listeners, [
           {"0.0.0.0", {{ network.port.rabbitmq }} }
         ]}
        ,{loopback_users, []}
        ,{cluster_partition_handling, pause_minority}
        ,{log_levels, [{autocluster, debug}, {connection, info}]}
        ,{queue_master_locator, <<"random">>}
      ]}
     ,{rabbitmq_management, [
         {dummy_param_without_comma, true}
        ,{load_definitions, "/etc/rabbitmq/definitions.json"}
        ,{listener, [{port, {{ network.port.management }} }]}
        ,{http_log_dir, "/var/log/rabbitmq"}]
     }
     ,{autocluster, [
         {dummy_param_without_comma, true}
        ,{backend, etcd}
        ,{autocluster_failure, stop}
        ,{cleanup_interval, 60}
        ,{cluster_cleanup, true}
        ,{cleanup_warn_only, false}
        ,{etcd_ttl, 15}
        ,{etcd_scheme, http}
        ,{etcd_host, "etcd"}
        ,{etcd_port, 2379}
      ]}
    ].
    % EOF

