apiVersion: v1
kind: ConfigMap
data:
  rabbitmq-env.conf: |+
    RABBITMQ_LOGS=-
    RABBITMQ_SASL_LOGS=-
    AUTOCLUSTER_TYPE=etcd
    AUTOCLUSTER_DELAY=15
    RABBITMQ_USE_LONGNAME=true
    RABBITMQ_NODENAME=rabbit@{{ network.ip_address }}
    AUTOCLUSTER_LOG_LEVEL=debug
    AWS_ACCESS_KEY_ID=fake
    AWS_SECRET_ACCESS_KEY=fake
