apiVersion: extensions/v1beta1
kind: Deployment
spec:
  replicas: {{ deployment.replicas }}
  template:
    metadata:
      labels:
        app: nova-conductor
    spec:
      nodeSelector:
        {{ deployment.control_node_label }}: enabled
      containers:
        - name: nova-conductor
          image: {{ deployment.image.conductor }}
          imagePullPolicy: Always
          env:
            - name: INTERFACE_NAME
              value: "eth0"
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: COMMAND
              value: "nova-conductor --config-file /etc/nova/nova.conf"
            - name: DEPENDENCY_JOBS
              value: "nova-db-sync"
            - name: DEPENDENCY_SERVICE
              value: "rabbitmq"
            - name: DEPENDENCY_CONFIG
              value: "/etc/nova/nova.conf"
          volumeMounts:
            - name: novaconf
              mountPath: /configmaps/nova.conf
      volumes:
        - name: novaconf
          configMap:
            name: nova-novaconf
