[DEFAULT]

#
# From stackanetes
#

# (string value)
#logging_default_format_string = %(levelname)s - %(message)s

# (string value)
#default_log_levels = dcos.http=ERROR,dcos.util=ERROR,kazoo.client=ERROR,requests.packages.urllib3.connectionpool=ERROR


[stackanetes]

#
# From stackanetes
#

# (string value)
#context = <None>

# (string value)
#docker_image_tag = mitaka

# (string value)
#docker_registry = quay.io/stackanetes

# (string value)
#host = <None>

# (string value)
#kubeconfig_path = <None>

# (string value)
#kubectl_path = /usr/bin/kubectl

# (string value)
#memory = 4092Mi

# (string value)
#minion_interface_name = eno1

# (string value)
#namespace = stackanetes
