#!/bin/bash
set -e
ceph auth get client.bootstrap-rgw  -o /var/lib/ceph/bootstrap-rgw/ceph.keyring
radosgw-admin user create --uid="glance" --display-name="User for Glance"
radosgw-admin subuser create --uid=glance --subuser=glance:swift --access=full
radosgw-admin key create --subuser=glance:swift --key-type=swift --secret={{ ceph_admin_keyring }}
radosgw-admin user modify --uid=glance --temp-url-key=glance_temp_url_key

ceph-authtool /etc/ceph/ceph.keyring --import-keyring /etc/ceph/ceph.client.admin.keyring
ceph auth get client.admin -o /etc/ceph/ceph.client.admin.keyring

/entrypoint.sh
