#!/bin/bash

radosgw-admin user info --uid=glance

if [ $? -gt 0 ]; then
        radosgw-admin user create --uid="glance" --display-name="User for Glance"
        radosgw-admin subuser create --uid=glance --subuser=glance:swift --access=full
        radosgw-admin key create --subuser=glance:swift --key-type=swift --secret={{ ceph_admin_keyring }}
        radosgw-admin user modify --uid=glance --temp-url-key=glance_temp_url_key
fi

ceph auth get client.bootstrap-rgw  -o /var/lib/ceph/bootstrap-rgw/ceph.keyring || exit 1

/entrypoint.sh

