{% if ports != [''] %}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ service_name }}
spec:
{% if external_ip %}
  externalIPs:
    - {{ external_ip }}
{% endif %}
  ports:
{% for port in ports %}
  - name: {{ service_name.split('-')[0] }}{{ port }}
    port: {{ port }}
    protocol: TCP
    targetPort: {{ port }}
{% endfor %}
  selector:
    app: {{ service_name }}
{%- endif %}
---

apiVersion: v1
kind: ReplicationController
metadata:
  name: {{ service_name }}
spec:
  replicas: 1
  selector:
    app: {{ service_name }}
  template:
    metadata:
      labels:
        app: {{ service_name }}
      name: {{ service_name }}
    spec:
      nodeSelector:
        app: controller
      containers:
        - name: {{ service_name }}
          command:
          image: {{ docker_registry }}/centos-binary-{{ service_name }}:{{ image_version }}
          env:
            - name: KOLLA_SKIP_EXTEND_START
              value: ""
            - name: KOLLA_CONFIG_STRATEGY
              value: COPY_ONCE
            - name: KOLLA_CONFIG
              value: '{"command": "kolla_mesos_start","config_files":[{"source": "zk://zookeeper:2181/kolla/common/kolla_mesos_start.py","dest": "/usr/local/bin/kolla_mesos_start","owner": "root","perm": "0755"}]}'
            - name: KOLLA_LOGLEVEL
              value: info
            - name: KOLLA_ZK_HOSTS
              value: zookeeper:2181
            - name: KOLLA_PRIVATE_INTERFACE
              value: eth0
            - name: KOLLA_PUBLIC_INTERFACE
              value: eth0
            - name: ZK_APP_ID
{%- if service_type %}
              value: /root/openstack/{{ service_type }}/{{ service_name }}
{%- else %}
              value: /root/infra/{{ service_name }}/{{ service_name }}
{%- endif %}
{%- if ports != [''] %}
          ports:
{%- for port in ports %}
          - containerPort: {{ port }}
            name: {{ service_name.split('-')[0] }}{{ port }}
            protocol: TCP
{%- endfor %}
{%- endif %}
          resources:
            limits:
              memory: {{ memory }}
{% if container_path %}
          volumeMounts:
            - mountPath: {{ container_path }}
              name: {{ service_name }}
      volumes:
        - name: {{ service_name }}
{%- if host_path %}
          hostPath:
            path: {{ host_path }}
{%- else %}
          emptyDir: {}
{%- endif %}
{%- endif %}
