
---
apiVersion: extensions/v1beta1
kind: DaemonSet
metadata:
  name: network-node
spec:
  template:
    metadata:
      labels:
        app: network-node
      name: network-node
      namespace: default
    spec:
      hostPID: true
      nodeSelector:
        app: controller
      securityContext:
        runAsUser: 0
      hostNetwork: true
      dnsPolicy: ClusterFirst
      volumes:
        - name: lib-modules
          hostPath:
            path: /lib/modules
        - name: var-lib-nova
          hostPath:
            path: /var/lib/nova
        - name: var-lib-libvirt
          hostPath:
            path: /var/lib/libvirt
        - name: run
          hostPath:
            path: /run
        - name: resolv
          hostPath:
            path: /home/core/resolv.conf
        - name: cgroup
          hostPath:
            path: /sys/fs/cgroup
        - name: socket
          emptyDir: {}
        - name: ip
          hostPath:
            path: /usr/bin/ip
      containers:
        - name: neutron-openvswitch-agent
          command:
            - bash
            - "-c"
            - >-
              ovs-vsctl add-br br-ex

              sudo -E -u neutron kolla_start
          securityContext:
            privileged: true
          image: {{ docker_registry }}/centos-binary-neutron-openvswitch-agent:{{ image_version }}
          env:
            - name: KOLLA_SKIP_EXTEND_START
              value: ""
            - name: KOLLA_CONFIG_STRATEGY
              value: COPY_ONCE
            - name: KOLLA_CONFIG
              value: '{"command": "kolla_mesos_start","config_files":[{"source": "zk://zookeeper:2181/kolla/common/kolla_mesos_start.py","dest": "/usr/local/bin/kolla_mesos_start","owner": "root","perm": "0755"}]}'
            - name: KOLLA_LOGLEVEL
              value: info
            - name: KOLLA_ZK_HOSTS
              value: zookeeper:2181
            - name: KOLLA_PRIVATE_INTERFACE
              value: {{ host_interface }}
            - name: KOLLA_PUBLIC_INTERFACE
              value: {{ host_interface }}
            - name: ZK_APP_ID
              value: /root/openstack/neutron/neutron-openvswitch-agent
          resources:
            limits:
              memory: {{ memory }}
          volumeMounts:
            - mountPath: /etc/resolv.conf
              name: resolv
              readOnly: true
            - mountPath: /lib/modules
              name: lib-modules
              readOnly: true
            - mountPath: /run
              name: run
        - name: neutron-dhcp-agent
          securityContext:
            privileged: true
          image: {{ docker_registry }}/centos-binary-neutron-dhcp-agent:{{ image_version }}
          env:
            - name: KOLLA_SKIP_EXTEND_START
              value: ""
            - name: KOLLA_CONFIG_STRATEGY
              value: COPY_ONCE
            - name: KOLLA_CONFIG
              value: '{"command": "kolla_mesos_start","config_files":[{"source": "zk://zookeeper:2181/kolla/common/kolla_mesos_start.py","dest": "/usr/local/bin/kolla_mesos_start","owner": "root","perm": "0755"}]}'
            - name: KOLLA_LOGLEVEL
              value: info
            - name: KOLLA_ZK_HOSTS
              value: zookeeper:2181
            - name: KOLLA_PRIVATE_INTERFACE
              value: {{ host_interface }}
            - name: KOLLA_PUBLIC_INTERFACE
              value: {{ host_interface }}
            - name: ZK_APP_ID
              value: /root/openstack/neutron/neutron-dhcp-agent
          resources:
            limits:
              memory: {{ memory }}
          volumeMounts:
            - mountPath: /etc/resolv.conf
              name: resolv
              readOnly: true
            - mountPath: /lib/modules
              name: lib-modules
              readOnly: true
            - mountPath: /run
              name: run
            - mountPath: /var/lib/neutron/kolla/
              name: socket
            - mountPath: /usr/sbin/ip
              name: ip
        - name: neutron-metadata-agent
          securityContext:
            privileged: true
          image: {{ docker_registry }}/centos-binary-neutron-metadata-agent:{{ image_version }}
          env:
            - name: KOLLA_SKIP_EXTEND_START
              value: ""
            - name: KOLLA_CONFIG_STRATEGY
              value: COPY_ONCE
            - name: KOLLA_CONFIG
              value: '{"command": "kolla_mesos_start","config_files":[{"source": "zk://zookeeper:2181/kolla/common/kolla_mesos_start.py","dest": "/usr/local/bin/kolla_mesos_start","owner": "root","perm": "0755"}]}'
            - name: KOLLA_LOGLEVEL
              value: info
            - name: KOLLA_ZK_HOSTS
              value: zookeeper:2181
            - name: KOLLA_PRIVATE_INTERFACE
              value: {{ host_interface }}
            - name: KOLLA_PUBLIC_INTERFACE
              value: {{ host_interface }}
            - name: ZK_APP_ID
              value: /root/openstack/neutron/neutron-metadata-agent
          resources:
            limits:
              memory: {{ memory }}
          volumeMounts:
            - mountPath: /etc/resolv.conf
              name: resolv
              readOnly: true
            - mountPath: /lib/modules
              name: lib-modules
              readOnly: true
            - mountPath: /run
              name: run
            - mountPath: /var/lib/neutron/kolla/
              name: socket
        - name: openvswitch-db-server
          securityContext:
            privileged: true
          image: {{ docker_registry }}/centos-binary-openvswitch-db-server:{{ image_version }}
          env:
            - name: KOLLA_SKIP_EXTEND_START
              value: ""
            - name: KOLLA_CONFIG_STRATEGY
              value: COPY_ONCE
            - name: KOLLA_CONFIG
              value: '{"command": "kolla_mesos_start","config_files":[{"source": "zk://zookeeper:2181/kolla/common/kolla_mesos_start.py","dest": "/usr/local/bin/kolla_mesos_start","owner": "root","perm": "0755"}]}'
            - name: KOLLA_LOGLEVEL
              value: info
            - name: KOLLA_ZK_HOSTS
              value: zookeeper:2181
            - name: KOLLA_PRIVATE_INTERFACE
              value: {{ host_interface }}
            - name: KOLLA_PUBLIC_INTERFACE
              value: {{ host_interface }}
            - name: ZK_APP_ID
              value: /root/infra/openvswitch/openvswitch-db
          resources:
            limits:
              memory: {{ memory }}
          volumeMounts:
            - mountPath: /etc/resolv.conf
              name: resolv
              readOnly: true
            - mountPath: /run
              name: run
        - name: openvswitch-vswitchd
          securityContext:
            privileged: true
          image: {{ docker_registry }}/centos-binary-openvswitch-vswitchd:{{ image_version }}
          env:
            - name: KOLLA_SKIP_EXTEND_START
              value: ""
            - name: KOLLA_CONFIG_STRATEGY
              value: COPY_ONCE
            - name: KOLLA_CONFIG
              value: '{"command": "kolla_mesos_start","config_files":[{"source": "zk://zookeeper:2181/kolla/common/kolla_mesos_start.py","dest": "/usr/local/bin/kolla_mesos_start","owner": "root","perm": "0755"}]}'
            - name: KOLLA_LOGLEVEL
              value: info
            - name: KOLLA_ZK_HOSTS
              value: zookeeper:2181
            - name: KOLLA_PRIVATE_INTERFACE
              value: {{ host_interface }}
            - name: KOLLA_PUBLIC_INTERFACE
              value: {{ host_interface }}
            - name: ZK_APP_ID
              value: /root/infra/openvswitch/openvswitch-vswitchd
          resources:
            limits:
              memory: {{ memory }}
          volumeMounts:
            - mountPath: /etc/resolv.conf
              name: resolv
              readOnly: true
            - mountPath: /lib/modules
              name: lib-modules
              readOnly: true
            - mountPath: /run
              name: run
        - name: neutron-l3-agent
          securityContext:
            privileged: true
          image: {{ docker_registry }}/centos-binary-neutron-l3-agent:{{ image_version }}
          env:
            - name: KOLLA_SKIP_EXTEND_START
              value: ""
            - name: KOLLA_CONFIG_STRATEGY
              value: COPY_ONCE
            - name: KOLLA_CONFIG
              value: '{"command": "kolla_mesos_start","config_files":[{"source": "zk://zookeeper:2181/kolla/common/kolla_mesos_start.py","dest": "/usr/local/bin/kolla_mesos_start","owner": "root","perm": "0755"}]}'
            - name: KOLLA_LOGLEVEL
              value: info
            - name: KOLLA_ZK_HOSTS
              value: zookeeper:2181
            - name: KOLLA_PRIVATE_INTERFACE
              value: {{ host_interface }}
            - name: KOLLA_PUBLIC_INTERFACE
              value: {{ host_interface }}
            - name: ZK_APP_ID
              value: /root/openstack/neutron/neutron-l3-agent
          resources:
            limits:
              memory: {{ memory }}
          volumeMounts:
            - mountPath: /etc/resolv.conf
              name: resolv
              readOnly: true
            - mountPath: /lib/modules
              name: lib-modules
              readOnly: true
            - mountPath: /run
              name: run
            - mountPath: /var/lib/neutron/kolla/
              name: socket
            - mountPath: /usr/sbin/ip
              name: ip