[DEFAULT]
debug = {{ glance_logging_debug }}
use_syslog = {{ openstack_use_syslog }}
use_stderr = {{ openstack_use_stderr }}

bind_host = {{ get_ip_address }}
bind_port = {{ glance_api_port }}

workers = 8
registry_host = {{ glance_registry_host }}

[database]
connection = mysql+pymysql://{{ glance_database_user }}:{{ glance_database_password }}@{{ glance_database_address }}/{{ glance_database_name }}

[keystone_authtoken]
auth_uri = http://{{ keystone_auth_host }}:{{ keystone_public_port }}
auth_url = http://{{ keystone_auth_host }}:{{ keystone_admin_port }}
auth_type = password
project_domain_id = default
user_domain_id = default
project_name = service
username = {{ glance_keystone_user }}
password = {{ glance_keystone_password }}

[paste_deploy]
# Temporary workaround
config_file = /glance-base-source/glance-base-archive-stable-mitaka/etc/glance-api-paste.ini
flavor = keystone

[oslo_messaging_notifications]
driver = noop

[glance_store]
stores = file, http
{%- if ceph_enabled -%}
, swift

stores = file, http, swift
default_store = swift
swift_store_auth_version = 1
swift_store_auth_address = http://rgw:6000/auth/1.0
swift_store_user = glance:swift
swift_store_key = {{ ceph_admin_keyring }}
default_swift_reference = ref1
swift_store_config_file = /etc/glance/glance-swift-store.conf
swift_store_container = glance
swift_store_create_container_on_put = True
{% endif %}
