apiVersion: v1
kind: ConfigMap
data:
  start.sh: |+
    #!/bin/bash
    set -ex

    # TODO(DTadrzak): FIX ME
    cp `find / -not -path "/etc/*" -name glance-api-paste.ini` /etc/glance/

    glance-api
