apiVersion: batch/v1
kind: Job
spec:
  template:
    spec:
      restartPolicy: OnFailure
      containers:
        - name: neutron-db-sync
          image: {{ deployment.image.db_sync }}
          imagePullPolicy: Always
          env:
            - name: INTERFACE_NAME
              value: "eth0"
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: COMMAND
              value: "neutron-db-manage --config-file /etc/neutron/neutron.conf --config-file /etc/neutron/plugins/ml2/ml2-conf.ini upgrade head"
            - name: DEPENDENCY_JOBS
              value: "neutron-init,mariadb-init"
            - name: DEPENDENCY_SERVICE
              value: "mariadb"
            - name: DEPENDENCY_CONFIG
              value: "/etc/neutron/neutron.conf,/etc/neutron/plugins/ml2/ml2-conf.ini"
          volumeMounts:
            - name: neutronconf
              mountPath: /configmaps/neutron.conf
            - name: ml2confini
              mountPath: /configmaps/ml2-conf.ini
      volumes:
        - name: neutronconf
          configMap:
            name: neutron-neutronconf
        - name: ml2confini
          configMap:
            name: neutron-ml2confini
