apiVersion: extensions/v1beta1
kind: Deployment
spec:
  replicas: {{ deployment.replicas }}
  template:
    metadata:
      labels:
        app: glance-api
    spec:
      nodeSelector:
        {{ deployment.control_node_label }}: enabled
      containers:
        - name: glance-api
          image: {{ deployment.image.api }}
          env:
            - name: INTERFACE_NAME
              value: "eth0"
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: COMMAND
              value: "bash /tmp/start.sh"
            - name: DEPENDENCY_JOBS
              value: "glance-init,glance-db-sync,mariadb-init"
            - name: DEPENDENCY_SERVICE
              value: "mariadb,rabbitmq,keystone-api"
            - name: DEPENDENCY_CONFIG
              value: "/etc/glance/glance-api.conf,/tmp/start.sh,/etc/ceph/ceph.conf,/etc/ceph/ceph.client.{{ ceph.glance_user }}.keyring"
          ports:
            - containerPort: {{ network.port.api }}
          readinessProbe:
            tcpSocket:
              port: {{ network.port.api }}
          volumeMounts:
            - name: glanceapiconf
              mountPath: /configmaps/glance-api.conf
            - name: startsh
              mountPath: /configmaps/start.sh
            - name: etcglance
              mountPath: /etc/glance
            - name: cephconf
              mountPath: /configmaps/ceph.conf
            - name: cephclientglancekeyring
              mountPath: /configmaps/ceph.client.{{ ceph.glance_user }}.keyring
      volumes:
        - name: glanceapiconf
          configMap:
            name: glance-glanceapiconf
        - name: startsh
          configMap:
            name: glance-startsh
        - name: cephconf
          configMap:
            name: glance-cephconf
        - name: cephclientglancekeyring
          configMap:
            name: glance-cephclientglancekeyring
        - name: etcglance
          emptyDir: {}
