name: openstack/glance/glance-registry
enabled: {{ enable_glance | bool }}
container:
  image: "{{ glance_registry_image }}:{{ glance_registry_tag }}"
  parameters:
    - key: volume
      value: "kolla_logs_{{ deployment_id }}_{{ timestamp }}:/var/log/kolla"
service:
  daemon:
    dependencies:
     - path: glance_ansible_tasks/create_user
     - path: keystone-api/daemon
    command: glance-registry
    files:
      glance.conf.j2:
        source: ["config/glance/templates/glance-registry.conf.j2",
                 "/etc/kolla-mesos/config/global.conf",
                 "/etc/kolla-mesos/config/database.conf",
                 "/etc/kolla-mesos/config/messaging.conf",
                 "/etc/kolla-mesos/config/glance.conf",
                 "/etc/kolla-mesos/config/glance/glance-registry.conf"]
        dest: /etc/glance/glance-registry.conf
        owner: glance
        perm: "0600"
  mem: {{ glance_registry_mem }}
  cpus: {{ glance_registry_cpus }}
  instances: {{ controller_nodes }}
  constraints: {{ controller_constraints }}
commands:
  extend_start:
    command: kolla_extend_start
