#!/usr/bin/env bash
set -e
{{ ansible_task_cmd }} -m kolla_keystone_service -a "service_name=searchlight service_type=search description='Openstack Search' endpoint_region={{ openstack_region_name }} url='{{ searchlight_internal_endpoint }}' interface=internal region_name={{ openstack_region_name }} auth='{{ openstack_searchlight_auth }}'" -e "{'openstack_searchlight_auth':{{ openstack_searchlight_auth }}}"
{{ ansible_task_cmd }} -m kolla_keystone_service -a "service_name=searchlight service_type=search description='Openstack Search' endpoint_region={{ openstack_region_name }} url='{{ searchlight_public_endpoint }}' interface=public region_name={{ openstack_region_name }} auth='{{ openstack_searchlight_auth }}' " -e "{'openstack_searchlight_auth':{{ openstack_searchlight_auth }}}"
{{ ansible_task_cmd }} -m kolla_keystone_service -a "service_name=searchlight service_type=search description='Openstack Search'  endpoint_region={{ openstack_region_name }}  url='{{ searchlight_admin_endpoint }}'  interface=admin  region_name={{ openstack_region_name }}  auth='{{ openstack_searchlight_auth }}'" -e "{'openstack_searchlight_auth':{{ openstack_searchlight_auth }}}"
{{ ansible_task_cmd }} -m kolla_keystone_user -a "project=service user=searchlight password={{ searchlight_keystone_password }} role=admin region_name={{ openstack_region_name }} auth='{{ openstack_searchlight_auth }}'" -e "{'openstack_searchlight_auth':{{ openstack_searchlight_auth }}}"
