apiVersion: v1
kind: ConfigMap
data:
  libvirt.sh: |+
    #!/bin/bash
    set -ex

    if [[ -f /var/run/libvirtd.pid ]]; then
       test -d /proc/$(< /var/run/libvirtd.pid) && \
       ( echo "Libvirtd daemon is running" && exit 10 )
    fi

    rm -f /var/run/libvirtd.pid

    if [[ -c /dev/kvm ]]; then
        chmod 660 /dev/kvm
        chown root:kvm /dev/kvm
    fi

    {%- if deployment.engine == "rkt" %}
    mount -o remount,ro /sys/fs/selinux
    mount -o remount,gid=5,mode=620,ptmxmode=666 -t devpts devpts /dev/pts
    {%- endif %}
    
    {%- if ceph.enabled %}
    bash /tmp/virsh-set-secret.sh &
    {%- endif %}

    exec libvirtd -v --listen
