apiVersion: v1
kind: ConfigMap
data:
  openrc.yaml: |+
    OS_PROJECT_DOMAIN_ID: {{ keystone.domain_name }}
    OS_USER_DOMAIN_ID: {{ keystone.domain_name }}
    OS_PROJECT_NAME: {{ keystone.admin_project_name }}
    OS_USERNAME: {{ keystone.admin_user }}
    OS_PASSWORD: {{ keystone.admin_password }}
    OS_TENANT_NAME: {{ keystone.tenant_name }}
    OS_AUTH_URL: {{ keystone.auth_url }}/v3
    OS_IDENTITY_API_VERSION: 3
