name: openstack/ironic/ironic-conductor
enabled: {{ enable_ironic | bool }}
container:
  image: "{{ ironic_conductor_image }}:{{ ironic_conductor_tag }}"
  privileged: true
  parameters:
    - key: volume
      value: "kolla_logs_{{ deployment_id }}_{{ timestamp }}:/var/log/kolla"
service:
  daemon:
    dependencies:
     - path: ironic_ansible_tasks/create_user
     - path: ironic-api/db_sync
    command: ironic-conductor --config-file /etc/ironic/ironic.conf --config-file /etc/ironic/ironic-override.conf
    files:
      ironic-override.conf:
        source: ["/etc/kolla-mesos/config/global.conf",
                 "/etc/kolla-mesos/config/database.conf",
                 "/etc/kolla-mesos/config/messaging.conf",
                 "/etc/kolla-mesos/config/ironic.conf",
                 "/etc/kolla-mesos/config/ironic/ironic-conductor.conf"]
        dest: /etc/ironic/ironic-override.conf
        owner: ironic
        perm: "0600"
      ironic.conf.j2:
        source: "config/ironic/templates/ironic.conf.j2"
        dest: /etc/ironic/ironic.conf
        owner: ironic
        perm: "0600"
  mem: {{ ironic_conductor_mem }}
  cpus: {{ ironic_conductor_cpus }}
  instances: {{ controller_nodes }}
  constraints: {{ controller_constraints }}
