name: openstack/cinder/cinder-api
enabled: {{ enable_cinder | bool }}
container:
  image: "{{ cinder_api_image }}:{{ cinder_api_tag }}"
  parameters:
    - key: volume
      value: "kolla_logs_{{ deployment_id }}_{{ timestamp }}:/var/log/kolla"
service:
  daemon:
    dependencies:
     - path: cinder_ansible_tasks/create_user
     - path: keystone-api/daemon
     - path: rabbitmq/daemon
     - path: cinder-api/db_sync
    command: /usr/bin/cinder-api
  mem: {{ cinder_api_mem }}
  cpus: {{ cinder_api_cpus }}
  instances: {{ controller_nodes }}
  constraints: {{ contoller_constraints }}
commands:
  extend_start:
    command: kolla_extend_start
  db_sync:
    env:
      KOLLA_BOOTSTRAP:
    command: kolla_extend_start
    run_once: True
    dependencies:
     - path: cinder_ansible_tasks/create_database
     - path: cinder_ansible_tasks/database_user_create
    files:
      cinder.conf.j2:
        source: ["config/cinder/templates/cinder.conf.j2",
                 "config/cinder/templates/cinder-{{ cinder_volume_driver }}.conf.j2",
                 "/etc/kolla-mesos/config/global.conf",
                 "/etc/kolla-mesos/config/database.conf",
                 "/etc/kolla-mesos/config/messaging.conf",
                 "/etc/kolla-mesos/config/cinder.conf",
                 "/etc/kolla-mesos/config/cinder/cinder-api.conf"]
        dest: /etc/cinder/cinder.conf
        owner: cinder
        perm: "0600"
