name: openstack/cinder/cinder-scheduler
enabled: {{ enable_cinder | bool }}
container:
  image: "{{ cinder_scheduler_image }}:{{ cinder_scheduler_tag }}"
  parameters:
    - key: volume
      value: "kolla_logs_{{ deployment_id }}_{{ timestamp }}:/var/log/kolla"
service:
  daemon:
    dependencies:
     - path: cinder_ansible_tasks/create_user
     - path: keystone-api/daemon
     - path: rabbitmq/daemon
    command: /usr/bin/cinder-scheduler
    files:
      cinder.conf.j2:
        source: ["config/cinder/templates/cinder.conf.j2",
                 "config/cinder/templates/cinder-{{ cinder_volume_driver }}.conf.j2",
                 "/etc/kolla-mesos/config/global.conf",
                 "/etc/kolla-mesos/config/database.conf",
                 "/etc/kolla-mesos/config/messaging.conf",
                 "/etc/kolla-mesos/config/cinder.conf",
                 "/etc/kolla-mesos/config/cinder/cinder-scheduler.conf"]
        dest: /etc/cinder/cinder.conf
        owner: cinder
        perm: "0600"
  mem: {{ cinder_scheduler_mem }}
  cpus: {{ cinder_scheduler_cpus }}
  instances: {{ controller_nodes }}
  constraints: {{ controller_constraints }}
commands:
  extend_start:
    command: kolla_extend_start
