listen_tcp = 1
auth_tcp = "none"
ca_file = ""
log_level = 4
log_outputs = "4:file:/var/log/libvirt/libvirtd.log"
listen_addr = "{{ get_ip_address }}"
unix_sock_group = "nova"
unix_sock_ro_perms = "0777"
unix_sock_rw_perms = "0770"
auth_unix_ro = "none"
auth_unix_rw = "none"
