#!/bin/env bash
set -e

if [[ -f /var/run/libvirtd.pid ]]; then
   echo "Libvirtd is already running. Exiting"
   test -d /proc/$(< /var/run/libvirtd.pid) && exit 10
fi

if [[ -c /dev/kvm ]]; then
    chmod 660 /dev/kvm
    chown root:kvm /dev/kvm
fi

# Mount xenfs for libxl to work
if [[ $(lsmod | grep xenfs) ]]; then
    mount -t xenfs xenfs /proc/xen
fi

if [[ ! -d "/var/log/kolla/libvirt" ]]; then
    mkdir -p /var/log/kolla/libvirt
fi
if [[ $(stat -c %a /var/log/kolla/libvirt) != "755" ]]; then
    chmod 755 /var/log/kolla/libvirt
fi
libvirtd --listen
