apiVersion: batch/v1
kind: Job
spec:
  template:
    spec:
      restartPolicy: OnFailure
      containers:
        - name: nova-post
          image: {{ deployment.image.post }}
          imagePullPolicy: Always
          env:
            - name: INTERFACE_NAME
              value: "eth0"
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: COMMAND
              value: "bash /tmp/post.sh"
            - name: DEPENDENCY_SERVICE
              value: "nova-api,keystone-api"
            - name: DEPENDENCY_CONFIG
              value: "/tmp/post.sh"
            - name: ANSIBLE_LIBRARY
              value: /usr/share/ansible/
          volumeMounts:
            - name: postsh
              mountPath: /configmaps/post.sh
            - name: openrc
              mountPath: /tmp/openrc
              subPath: openrc
      volumes:
        - name: postsh
          configMap:
            name: nova-postsh
        - name: openrc
          configMap:
            name: nova-openrc
