apiVersion: extensions/v1beta1
kind: Deployment
spec:
  replicas: {{ deployment.replicas }}
  template:
    metadata:
      labels:
        app: nova-api
    spec:
      nodeSelector:
        {{ deployment.control_node_label }}: enabled
      containers:
        - name: nova-api
          image: {{ deployment.image.api }}
          imagePullPolicy: Always
          env:
            - name: INTERFACE_NAME
              value: "eth0"
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: COMMAND
              value: "nova-api --config-file /etc/nova/nova.conf"
            - name: DEPENDENCY_JOBS
              value: "nova-db-sync,mariadb-init"
            - name: DEPENDENCY_SERVICE
              value: "mariadb,glance-api,keystone-api"
            - name: DEPENDENCY_CONFIG
              value: "/etc/nova/nova.conf"
          ports:
            - containerPort: {{ network.port.api }}
            - containerPort: {{ network.port.metadata }}
          readinessProbe:
            tcpSocket:
              port: {{ network.port.api }}
          volumeMounts:
            - name: novaconf
              mountPath: /configmaps/nova.conf
      volumes:
        - name: novaconf
          configMap:
            name: nova-novaconf
