apiVersion: v1
kind: Service
spec:
  {% if not network.ingress.enabled %}
  externalIPs: {{ network.external_ips }}
  {% endif %}
  ports:
    - port: 80
      targetPort: {{ network.port }}
  selector:
    app: horizon
