apiVersion: v1
kind: ConfigMap
data:
  neutron.conf: |+
    [DEFAULT]
    debug = {{ misc.debug }}
    use_syslog = False
    use_stderr = True

    nova_url = {{ nova.api_url}}/v2
    notify_nova_on_port_status_changes = True
    notify_nova_on_port_data_changes = True
    bind_host = {{ network.ip_address }}
    bind_port = {{ network.port.server }}

    #lock_path = /var/lock/neutron
    api_paste_config = /usr/share/neutron/api-paste.ini

    rpc_workers = {{ misc.workers }}
    api_workers = {{ misc.workers }}

    allow_overlapping_ips = True
    core_plugin = ml2
    service_plugins = router

    interface_driver = openvswitch

    metadata_proxy_socket = /var/lib/neutron/stackanetes/metadata_proxy

    allow_automatic_l3agent_failover = True
    l3_ha = true
    min_l3_agents_per_router = 1
    max_l3_agents_per_router = 3
    l3_ha_network_type = vxlan

    dhcp_agents_per_network = 3

    network_auto_schedule = True
    router_auto_schedule = True

    transport_url = rabbit://{{ rabbitmq.admin_user }}:{{ rabbitmq.admin_password }}@{{ rabbitmq.address }}:{{ rabbitmq.port }}

    [nova]
    auth_url = {{ keystone.auth_url }}
    auth_plugin = password
    project_domain_id = default
    user_domain_id = default
    endpoint_type = internal
    region_name = {{ keystone.nova_region_name }}
    project_name = service
    username = {{ keystone.nova_user }}
    password = {{ keystone.nova_password }}

    [oslo_concurrency]
    lock_path = /var/lib/neutron/tmp

    [ovs]
    ovsdb_connection = unix:/var/run/openvswitch/db.sock
    ovsdb_interface = vsctl
    of_interface=ovs-ofctl

    [agent]
    root_helper = sudo /var/lib/kolla/venv/bin/neutron-rootwrap /etc/neutron/rootwrap.conf

    [database]
    connection = mysql+pymysql://{{ database.neutron_user }}:{{ database.neutron_password }}@{{ database.address }}/{{ database.neutron_database_name }}
    max_retries = -1

    [keystone_authtoken]
    auth_uri = {{ keystone.auth_uri }}
    auth_url = {{ keystone.auth_url }}
    auth_type = password
    project_domain_id = default
    user_domain_id = default
    project_name = service
    username = {{ keystone.neutron_user }}
    password = {{ keystone.neutron_password }}
    memcached_servers = {{ memcached.address }}

    [oslo_messaging_notifications]
    driver = noop
