apiVersion: v1
kind: ConfigMap
data:
  neutron.conf: |+
    [DEFAULT]
    debug = {{ misc.debug }}
    use_syslog = False
    use_stderr = True

    #TODO(DTadrzak): FIX ME
    # vif_plugging_is_fatal should be True
    vif_plugging_is_fatal = False
    nova_url = {{ nova.api_url}}/v2
    notify_nova_on_port_status_changes = True
    notify_nova_on_port_data_changes = True
    bind_host = {{ network.ip_address }}
    bind_port = {{ network.port.server }}

    #lock_path = /var/lock/neutron
    api_paste_config = /usr/share/neutron/api-paste.ini

    rpc_workers = {{ misc.workers }}
    api_workers = {{ misc.workers }}
    dhcp_agents_per_network = 3
    allow_automatic_l3agent_failover = True

    allow_overlapping_ips = True
    core_plugin = ml2
    service_plugins = router

    interface_driver = openvswitch

    metadata_proxy_socket = /var/lib/neutron/stackanetes/metadata_proxy

    allow_automatic_l3agent_failover = True

    [nova]
    auth_url = {{ keystone.auth_url }}
    auth_plugin = password
    project_domain_id = default
    user_domain_id = default
    endpoint_type = internal
    region_name = {{ keystone.nova_region_name }}
    project_name = service
    username = {{ keystone.nova_user }}
    password = {{ keystone.nova_password }}

    [oslo_concurrency]
    lock_path = /var/lib/neutron/tmp

    [oslo_messaging_rabbit]
    rabbit_userid = {{ rabbitmq.admin_user }}
    rabbit_password = {{ rabbitmq.admin_password }}
    rabbit_ha_queues = true
    rabbit_hosts = {{ rabbitmq.address }}

    [ovs]
    ovsdb_connection = unix:/var/run/openvswitch/db.sock
    ovsdb_interface = vsctl
    of_interface=ovs-ofctl

    [agent]
    root_helper = sudo /var/lib/kolla/venv/bin/neutron-rootwrap /etc/neutron/rootwrap.conf

    [database]
    connection = mysql+pymysql://{{ database.neutron_user }}:{{ database.neutron_password }}@{{ database.address }}/{{ database.neutron_database_name }}
    max_pool_size = {{ misc.workers }}
    max_overflow  = {{ misc.workers }}

    [keystone_authtoken]
    auth_uri = {{ keystone.auth_uri }}
    auth_url = {{ keystone.auth_url }}
    auth_plugin = password
    project_domain_id = default
    user_domain_id = default
    project_name = service
    username = {{ keystone.neutron_user }}
    password = {{ keystone.neutron_password }}

    [oslo_messaging_notifications]
    driver = noop
