apiVersion: v1
kind: ConfigMap
data:
  post.sh: |+
    #!/bin/bash
    set -ex
    export HOME=/tmp
    
    ansible localhost -vvv -m kolla_keystone_service -a "service_name=neutron service_type=network description='Openstack Networking' endpoint_region={{ keystone.neutron_region_name }} url='http://neutron-server:{{ network.port.server }}' interface=admin region_name={{ keystone.admin_region_name }} auth='{{ keystone.auth }}'" -e "{'openstack_neutron_auth':{{ keystone.auth }}}"
    ansible localhost -vvv -m kolla_keystone_service -a "service_name=neutron service_type=network description='Openstack Networking' endpoint_region={{ keystone.neutron_region_name }} url='http://neutron-server:{{ network.port.server }}' interface=internal region_name={{ keystone.admin_region_name }} auth='{{ keystone.auth }}'" -e "{'openstack_neutron_auth':{{ keystone.auth }}}"
    {% if network.ingress.enabled -%}
      ansible localhost -vvv -m kolla_keystone_service -a "service_name=neutron service_type=network description='Openstack Networking' endpoint_region={{ keystone.neutron_region_name }} url='http://{{ network.ingress.named_host }}:{{ network.ingress.port }}' interface=public region_name={{ keystone.admin_region_name }} auth='{{ keystone.auth }}'" -e "{'openstack_neutron_auth':{{ keystone.auth }}}"
    {%- else -%}
      ansible localhost -vvv -m kolla_keystone_service -a "service_name=neutron service_type=network description='Openstack Networking' endpoint_region={{ keystone.neutron_region_name }} url='http://neutron-server:{{ network.port.server }}' interface=public region_name={{ keystone.admin_region_name }} auth='{{ keystone.auth }}'" -e "{'openstack_neutron_auth':{{ keystone.auth }}}"
    {%- endif %}

    ansible localhost -vvv -m kolla_keystone_user -a "project=service user={{ keystone.neutron_user }} password={{ keystone.neutron_password }} role=admin region_name={{ keystone.neutron_region_name }} auth='{{ keystone.auth }}'" -e "{'openstack_neutron_auth':{{ keystone.auth }}}"
