apiVersion: v1
kind: ConfigMap
data:
  start.sh: |+
    #!/bin/bash
    set -ex
    trap "trap - SIGTERM && kill -- -$$" SIGINT SIGTERM EXIT

    export WSREP_OPTIONS=`python /tmp/peer-finder.py mariadb`
    exec mysqld --defaults-file=/etc/my.cnf --console $WSREP_OPTIONS
